body{
    font-family:'Handjet';
    font-style: italic;
    font-size: 16px;
    font-variant: small-caps;
    font-weight: bold; 
}
/*#p1{
    font-family: 'Borel',cursive;
    font-style: italic;  
}
#p2{
    font-family: 'Tilt Prism',cursive;
}
#p3{
    font-family: 'Handjet',cursive;
}*/